$fontFamily: 'Lato', sans-serif;

// Colour constants
$titleColour: #2d3950;
$textColour: #999;
$backgroundColour: #f6f9f9;

$logoSquareLight: #15a4fa;
$logoSquareDark: #2d3950; 

$bannerColour: #fff;
$bannerBorderColour: #15a4fa;

$featureLight: #5fc3ff;
$featureDark: #48baff;

$portfolioTextColour: #909090;
$previewText: #f6f9f9;
$previewClose: #15a4fa;
$previewCloseHover: #fa4b15;

$socialIcon: #15a4fa;
$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$linkedin: #0976b4;

$focusColour: #fff;