.b-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/ballpen-blur-close-up-461077.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 90px;
    color: $bannerColour;
    text-align: center;
     
    @media (min-width: 480px) {
        padding-top: 200px;
        min-height: 800px;
    }
    
    &__title {
        font-size: 85px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 20px;
        
        @media (min-width: 480px) {
            font-size: 120px;
        }
    }
    
    &__line {
        max-width: 600px;
        height: 2px;
        background-color: $bannerBorderColour; 
        margin: 0 auto;
    }
    
    &__about {
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    
    &__button {
        @include anchor($bannerColour);
        @include roundedBorder($bannerBorderColour);
        width: 178px;
        height: 56px;
        font-size: 18px;
        font-weight: 400;
        line-height: 3;
        margin: 0 auto; 
        
        &:hover {
            background-color: $bannerBorderColour;
            transform: scale(1.1);
        }
    }
    
    &__arrow {
        @include anchor($bannerColour);
        
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        margin-top: 70px;
        
        @media (min-width: 480px) {
            margin-top: 170px;
        }
    }
}