.b-footer {
    min-height: 90px;
    background-color: $backgroundColour;
    padding: 25px 0;
    
    &__text {
        color: $textColour;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        
        @media (min-width: 768px) {
            padding: 10px 0;
        }
    }
    
    &__social-icons {
        width: 175px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}